include crypt4gh/completions/*.bash
include crypt4gh/completions/*.zsh
include crypt4gh/completions/*.fish
include crypt4gh/completions/*.ksh
include crypt4gh/completions/*.tcsh
include crypt4gh/completions/*.csh
include crypt4gh/completions/*.sh

include LICENSE
include README.md
include requirements.txt

global-exclude __pycache__

graft libsodium-stable

prune libsodium-stable/.git
prune libsodium-stable/.github
exclude libsodium-stable/.git*

prune libsodium-stable/test

prune tests

prune docs
